/* You can add global styles to this file, and also import other style files */
*{
  transition: all 0.7s;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
  background-image: url('./assets/images/62394d753859943e6a1a36443ef78795.gif');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
